/* variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-blue: #81b3d2;
  --blue-hover: #669ec0;
  --blue-focus: #5496bd;
  --special-bg: #eeeeee;
  --body-bg: #f2f2f2;
  --input-hover: #ebebeb;
  --input-focus: #e5e5e5;
  --сheckbox-block: #6a6a6a;
  --btn-reserv: #766357;
  --btn-plus-minus: #A9A9A9;
  --reserv-hover: #604e43;
  --reserv-focus: #503e33;
  --button-focus-text: rgba(255, 255, 255, 0.3);
  --footer-bg: rgba(255, 255, 255, 0.9);
  --sorting-text: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--body-bg);

}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 0;
}
.button {
  color: var(--basic-white);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.page {
  height: 100%;
}

/*шапка*/
.main-header {
  box-sizing: border-box;
  min-height: 56px;
  position: relative;
  padding-right: 72px;
  padding-left: 72px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  right: 531px;

}
.site-navigation {
  padding: 0;
  margin: 0;
  padding-top: 11px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.site-navigation li:nth-child(2) {
  margin-right: 200px;
}

.site-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
}

.site-navigation a:not([href]) {
  color: var(--btn-reserv);
  cursor: pointer;
}

.site-navigation a:hover {
  color: var(--blue-hover);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*промо*/

.promo {
  background-color: var(--basic-blue);
  background-image: url(../img/promo-bg.jpg);
  min-height: 509px;
  display: grid;
}
.promo img {
  justify-self: center;
  align-self: center;
}
/*Причины*/

.reasons {
  text-align: center;
}

.reasons-header h1 {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 57px;
  margin-top: 42px;
}

.reasons-header p {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.reasons-list {
  list-style: none;
  line-height: 21px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.reasons-list h2 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-item:nth-child(1) {
  grid-column: 1/-1;
}

.line-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.reasons-line-descr {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-weight: 400;
  text-transform: uppercase;
  min-width: 400px;
  box-sizing:border-box;
  padding-top: 47px;

}

.line-one .reasons-line-descr {
  grid-column: 1/2;
}
.line-one img {
  grid-column: 2/3 ;
}
.reasons-line-descr h2 {
  margin-bottom: 23px;
}
.line-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.line-two .reasons-line-descr {
  grid-column: 2/3;
}
.line-two img {
  grid-column: 1/2 ;
}
.reasons-line-descr h2 {
  margin-bottom: 23px;
}

.first-descr p {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 23px;
}

.two-descr p {
  max-width: 301px;
  margin: 0 auto;
  margin-top: 23px;
}
.reasons-tips {
  box-sizing: border-box;
  min-height: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.reasons-item:nth-child(2) {
  grid-column: 1/-1;
}



.reasons-item:nth-child(3) {
  grid-column: 1/2;
}
.reasons-item:nth-child(4) {
 grid-column: 2/3;
}

.reasons-item:nth-child(5) {
  grid-column: 3/-1;
}

.tips-item {
  margin-top: 160px;
}


.tips-item h2 {
  font-size: 21px;
  line-height: 21px;
}

.tips-item p {
  font-weight: 400;
}

.reasons-item:nth-child(3),
.reasons-item:nth-child(4),
.reasons-item:nth-child(5) {
  box-sizing: border-box;
  background-color: var(--special-bg);
  font-weight: 400;
  text-transform: uppercase;
  min-height: 256px;
  padding-top: 47px;
}

.reasons-item-wrap h2 {
  margin: 0 auto;
  margin-bottom: 23px;
  max-width: 120px;
}

.reasons-item-wrap p {
  margin-top: 23px;
}

/*секция поиска*/

.search {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  min-height: 300px;
  padding-top: 58px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 41px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--btn-reserv);
  padding: 30px 135px;
  min-width: 568px;
}

.search-button:hover {
  cursor: pointer;
  background-color: var(--reserv-hover);
}

.search-button:active {
  background-color: var(--reserv-focus);
  color: var(--button-focus-text);
}

/*карта*/

.map {
  background: url(../img/map.jpg);
}


.search-form {
  box-sizing: border-box;
  background-color: var(--basic-white);
  width: 568px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  padding: 55px;
  min-height: 395px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arrival {
  grid-column: 1/-1;
}

.departure {
  grid-column: 1/-1;
}

.olds-kids {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search-olds {
  grid-column: 1/2;
}
.olds-kids input {
  width: 38px;
}
.departure input {
  box-sizing: border-box;
  margin-left: 24px;
  height: 38px;
  padding: 6px 170px 6px 12px;
}

.arrival input {
  box-sizing: border-box;
  margin-left: 27px;
  height: 38px;
  padding: 6px 170px 6px 12px;
}


.search-form input {
  font: inherit;
  border: none;
  background-color: var(--body-bg);
  outline: none;
  text-transform: uppercase;
}

.search-form input:hover {
  background-color: var(--input-hover);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--input-focus);
}


.button-find {
  font:inherit;
  font-size: 21px;
  line-height: 26px;
}

.button-find:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}

.button-find:focus {
  background-color: var(--blue-focus);
  color: var(--button-focus-text);
}

.form-btn {
  border: none;
  text-align: center;
  background-color: var(--body-bg);
  cursor: pointer;
  outline: none;
  color: var(--btn-plus-minus);
}


.form-btn:hover {
  color: var(--basic-black);
}

.form-btn:active {
  color: var(--basic-blue);
}

/*подвал*/

.main-footer {
  box-sizing: border-box;
  background-color: var(--footer-bg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
  padding: 23px 138px 36px 111px;
}

.socials {
  width: 150px;
  justify-self: center;
}

.contacts {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-phone {
  color: inherit;
}

.contacts span {
  margin-top: 8px;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}


.socials-list-item a {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  display: flex;
  width: 46px;
  height: 48px;
  align-items: center;
  justify-content: center;

}

.copyright {
  text-transform: uppercase;
  justify-self: end;
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.copyright span {
  margin-right: 8px;
}

/*страница с гостиницами*/
.inner-page {
  font-size: 14px;
  line-height: 21px;
}

/*фильтр*/

.filters {
  background-color: var(--basic-blue);
  background-image: url(../img/catalog-bg.jpg);
  background-repeat: no-repeat;
}

.filter legend {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter label{
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 2px solid var(--basic-white);
  cursor:pointer;
  overflow: hidden;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 7px 35px 8px 36px;
  border-radius: 2px;
  outline: none;
}

.filter-btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*сортировка*/

.sorting span {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list a {
  text-transform: uppercase;
  color: var(--sorting-text);
  border-bottom: 1px dotted var(--basic-blue);
  cursor: pointer;
}

.sorting-list a:hover {
  color: var(--basic-blue);
}

.sorting-list a:active {
  color: var(--basic-black);
  border: none;
}

.sorting-list .current {
  border: none;
  color: var(--basic-blue);
}

/*подходящие варианты*/

.results-list {
  list-style: none;
}

.results-info {
  text-transform: uppercase;
}

.results-info a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.results-info a:hover {
  color: var(--basic-blue);
  cursor: pointer;
}

.results-info a:active {
  color: var(--sorting-text);
}


.rating {
  text-transform: uppercase;
}

.rating span {
  line-height: 21px;
}

.results-btn {
  font-weight: 700;
}

.results-btn:active {
  color: var(--button-focus-text);
}

.results-btn-more:hover {
  background-color: var(--blue-hover);
}

.results-btn-more:active {
  background-color: var(--blue-focus);
}

.results-btn-reserv {
  background-color: var(--btn-reserv);
}


.results-btn-reserv:hover {
  background-color: var(--reserv-hover);
}

.results-btn-reserv:active {
  background-color: var(--reserv-focus);
}



